Checks: >
  *,
  -*-c-arrays,
  -*-magic-numbers,
  -*-named-parameter,
  -*-narrowing-conversions,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-realloc-usage,
  -cert-err33-c,
  -cert-err34-c,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-valist.Uninitialized,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -fuchsia-default-arguments-calls,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -modernize-macro-to-enum,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-non-const-parameter,
  -readability-static-accessed-through-instance,
CheckOptions:
  - key:   hicpp-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
  - key:   readability-uppercase-literal-suffix.NewSuffixes
    value: 'L;U;UL;ULL'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
