---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AttributeMacros:
  - ZIX_MALLOC_FUNC
  - ZIX_PURE_FUNC
  - ZIX_REALTIME
BasedOnStyle: Mozilla
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
FixNamespaceComments: true
ForEachMacros:
  - LILV_FOREACH
  - LV2_ATOM_OBJECT_BODY_FOREACH
  - LV2_ATOM_OBJECT_FOREACH
  - LV2_ATOM_SEQUENCE_BODY_FOREACH
  - LV2_ATOM_SEQUENCE_FOREACH
  - LV2_ATOM_TUPLE_BODY_FOREACH
  - LV2_ATOM_TUPLE_FOREACH
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - Q_OBJECT
  - ZIX_DISABLE_EFFECT_WARNINGS
  - ZIX_RESTORE_WARNINGS
...
