Checks: >
  *,
  -*-magic-numbers,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-reserved-identifier,
  -*-uppercase-literal-suffix,
  -*-use-auto,
  -altera-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err34-c,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -fuchsia-default-arguments-calls,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-non-const-parameter,
  -readability-static-accessed-through-instance,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
