# Copyright 2019-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

/build/
/subprojects/lilv-0.24.26/
/subprojects/lv2/
/subprojects/packagecache/
/subprojects/serd/
/subprojects/sord-0.16.18/
/subprojects/sphinxygen-1.0.10/
/subprojects/sratom-0.6.18/
/subprojects/suil-0.10.22/
/subprojects/zix-0.6.2/
