# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -misc-no-recursion,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '23'
InheritParentConfig: true
