# Copyright 2020-2026 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -misc-no-recursion,
  -readability-avoid-nested-conditional-operator,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '26'
InheritParentConfig: true
